{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <script
    src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <head>
    <meta charset="utf-8" />
    <title>Url Shortener</title>
    <!-- Also link to some fonts hosted by Google -->
  </head>
  <body class="bg-zinc-100 font-mono">
    <header class="flex items-center justify-center w-full p-4 bg-[#ababab]">
      <h1 class="text-xl"><a href="/">Shorten Link</a></h1>
    </header>
    <main
      class="h-screen flex flex-col items-center justify-center gap-10"
      id="maincontent"
    >
      {{template "main" .}}
    </main>
  </body>
</html>
{{end}}
