{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <script
    src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"
  ></script>

  <head>
    <meta charset="utf-8" />
    <title>Url Shortener</title>
    <!-- Also link to some fonts hosted by Google -->
  </head>
  <body>
    <header>
      <h1><a href="/">Home</a></h1>
    </header>
    <main>
      <form hx-post="/shorten" hx-target="this">
        <label for="linkInputField">Enter link to shorten</label>
        <input id="linkInputField" name="url" />
        <button>Submit</button>
      </form>
    </main>
  </body>
</html>
{{end}}
